@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@theme inline {
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-background: var(--background);
  --color-badge-default: var(--badge-default);
  --color-badge-default-foreground: var(--badge-default-foreground);
  --color-badge-secondary: var(--badge-secondary);
  --color-badge-secondary-foreground: var(--badge-secondary-foreground);
  --color-breadcrumb-focus: var(--breadcrumb-focus);
  --color-breadcrumb-link: var(--breadcrumb-link);
  --color-breadcrumb-link-hover: var(--breadcrumb-link-hover);
  --color-border: var(--border);
  --color-border-pressed: var(--border-pressed);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-pressed: var(--destructive-pressed);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary-pressed: var(--primary-pressed);
  --color-ring: var(--ring);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  --color-text: var(--text);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  color-scheme: light;

  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --background: #ffffff;
  --badge-default: #7c3aed;
  --badge-default-foreground: #fafafa;
  --badge-secondary: #ede9fe;
  --badge-secondary-foreground: #4c1d95;
  --breadcrumb-focus: #a3a3a380;
  --breadcrumb-link: #0a5fbc;
  --breadcrumb-link-hover: #063467;
  --border: #e5e5e5;
  --border-pressed: #d4d4d4;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --destructive: #dc2626;
  --destructive-foreground: #fef2f2;
  --destructive-pressed: #991b1b;
  --foreground: #0a0a0a;
  --input: #e5e5e5;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #005a8c;
  --primary-foreground: #fafafa;
  --primary-hover: #0956ab;
  --primary-pressed: #074385;
  --ring: #a3a3a3;
  --secondary: #5b94d2;
  --secondary-foreground: #171717;
  --secondary-hover: #e7eff8;
  --text: #333333;
  --chart-1: #e07600;
  --chart-2: #0d9488;
  --chart-3: #164e63;
  --chart-4: #fbbf24;
  --chart-5: #f59e0b;
  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a3a3a3;
}
